
#clear_button{
    margin-left: 15px;
    font-weight: bold;
    color: rgb(255, 0, 0);
  }
  
  #confidence{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 7.5%;
  }
  
  #content{
    margin:15px;
    padding: 10% 17%;
    padding-bottom: 10;
  }
  
  .welcome{
     text-align: center;
     position: relative;
     color: rgb(0, 32, 112);
     background-color: rgb(0, 0, 0);
     padding-top: 1%;
     padding-bottom: 1%;
     font-weight: bold;
     font-family: 'Bookman', 'URW Bookman L', serif;
  }
  
  #team_id{
     text-align: right;
     font-size: 25px;
     padding-right: 3%;
     color: rgb(255, 0, 0);
     background-color: rgb(0, 0, 0);
  }
  
  #predict_button{
    margin-right: 15px;
    color: rgb(44, 241, 0);
    font-weight: bold;
  }
  
  #prediction_heading{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 7.5%;
  }
  
  #result{
    font-size: 5rem;
  }
  
  #title{
    padding: 1.5% 15%;
    margin: 0 auto;
    text-align: center;
  }
  
  .btn {
      font-size: 15px;
      padding: 10px;
      /* -webkit-appearance: none; */
      background: rgb(231, 2, 2);
      border: 1px solid rgb(0, 0, 0);
      margin-top: 20px;
      margin-bottom: 20px;
  }
  
  .buttons_div{
    margin-bottom: 30px;
    margin-right: 80px;
  }
  
  .heading{
    font-family:"American Typewriter", serif;
    font-weight: 700;
    font-size: 2rem;
    display: inline;
  }
  
  .leftside{
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    /* padding-left: 10%; */
  }
  
  #frame{
    margin-right: 10%;
  }
  
  .predicted_answer{
    text-align: center;
    margin: 0 auto;
    padding: 3% 5%;
    padding-top: 0;
    /* padding-left: 10%; */
  }
  
  h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(65, 62, 62);
    padding: 30px 30px 5px 10px;
    
  }
  
  @media (min-width: 720px) {
    .leftside{
      padding-left: 10%;
    }
  }
  .overlay h1 {
    background-color: rgb(0, 0, 0);
    color: rgb(247, 236, 236);
    mix-blend-mode: screen;
    position:absolute;
    top: 50%;
    bottom:auto;
    left: 60%;
    transform: translate(-220%, -90%);
    padding: 30px;
    border-radius: 25px;
    font-family: "Malgun Gothic Semilight";
    font-size: 1.4em;
    margin: 0;
    opacity: 0.8;
  }
  .overlay h1:last-child {
    mix-blend-mode: normal;
    color: transparent;
    background: none;
    box-shadow: 0 0 16px #000, 0 0 32px #000;
  }
  .about {
  background-color: white(0, 0, 0, 0.5);
  font-family: "papyrus";
  margin: 100px;;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(255, 255, 255)   ;
  position: absolute;
  top: 230px; 
  bottom: 200px;
  left:730px;
  right: 80px;
  opacity: 7;
  width: 500px;
  height: 260px;
  }
  .about:hover{
    opacity: 1.0;
    color: rgb(2, 2, 2);
    background-color: white;
  }
  .colorr{
    color: white;
  }
  .teamid h1{
    color: #fff;
  }
  .icon{
    width: 100px;
    height: 100px;
    right: 10px;
  }
  hr.new4 {
    border: 1px solid rgb(255, 255, 255);
  }
  